<section class="guidelines" id="guidelines" aria-labelledby="guidelines-title">
  <div class="guidelines__inner">
    <div class="guidelines__intro">
      <h2 class="guidelines__title" id="guidelines-title">
        Работаем по&nbsp;клиническим рекомендациям Минздрава&nbsp;РФ
      </h2>
      <p class="guidelines__note">
        Ссылки ведут на&nbsp;официальный портал клинических рекомендаций Минздрава РФ и&nbsp;портал правовой информации. Актуально на&nbsp;2026&nbsp;год
      </p>
    </div>

    <ul class="guidelines__list" role="list">
      <li>
        <a
          class="guideline-card"
          href="https://cr.minzdrav.gov.ru/preview-cr/899_1"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="guideline-card__icon" aria-hidden="true">
            <img src="/assets/icons/file-text.svg" alt="" width="20" height="20" decoding="async">
          </span>
          <span class="guideline-card__title">Синдром зависимости от алкоголя</span>
          <span class="guideline-card__footer">
            <span class="guideline-card__meta">МКБ-10: F10.2</span>
            <span class="guideline-card__action" aria-hidden="true">
              <img
                class="guideline-card__action-icon"
                src="/assets/icons/arrow-up-right.svg"
                alt=""
                width="16"
                height="16"
                decoding="async"
              >
            </span>
          </span>
        </a>
      </li>
      <li>
        <a
          class="guideline-card"
          href="https://cr.minzdrav.gov.ru/preview-cr/161_2"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="guideline-card__icon" aria-hidden="true">
            <img src="/assets/icons/file-text.svg" alt="" width="20" height="20" decoding="async">
          </span>
          <span class="guideline-card__title">Синдром зависимости от опиоидов</span>
          <span class="guideline-card__footer">
            <span class="guideline-card__meta">МКБ-10: F11.2</span>
            <span class="guideline-card__action" aria-hidden="true">
              <img
                class="guideline-card__action-icon"
                src="/assets/icons/arrow-up-right.svg"
                alt=""
                width="16"
                height="16"
                decoding="async"
              >
            </span>
          </span>
        </a>
      </li>
      <li>
        <a
          class="guideline-card"
          href="https://cr.minzdrav.gov.ru/preview-cr/590_2"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="guideline-card__icon" aria-hidden="true">
            <img src="/assets/icons/file-text.svg" alt="" width="20" height="20" decoding="async">
          </span>
          <span class="guideline-card__title">Абстинентное состояние с делирием</span>
          <span class="guideline-card__footer">
            <span class="guideline-card__meta">МКБ-10: F10.4</span>
            <span class="guideline-card__action" aria-hidden="true">
              <img
                class="guideline-card__action-icon"
                src="/assets/icons/arrow-up-right.svg"
                alt=""
                width="16"
                height="16"
                decoding="async"
              >
            </span>
          </span>
        </a>
      </li>
      <li>
        <a
          class="guideline-card"
          href="https://publication.pravo.gov.ru/document/0001202305150009"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="guideline-card__icon" aria-hidden="true">
            <img src="/assets/icons/file-text.svg" alt="" width="20" height="20" decoding="async">
          </span>
          <span class="guideline-card__title">Реабилитация при зависимости</span>
          <span class="guideline-card__footer">
            <span class="guideline-card__meta">Приказ Минздрава №345н</span>
            <span class="guideline-card__action" aria-hidden="true">
              <img
                class="guideline-card__action-icon"
                src="/assets/icons/arrow-up-right.svg"
                alt=""
                width="16"
                height="16"
                decoding="async"
              >
            </span>
          </span>
        </a>
      </li>
    </ul>
  </div>
</section>
