<section class="service-price" aria-labelledby="service-price-title">
  <div class="service-price__inner">
    <h2 class="service-price__title" id="service-price-title">
      Цены на вызов нарколога
    </h2>

    <ul class="service-price__list" role="list">
      <li class="service-price__item">
        <span class="service-price__icon" aria-hidden="true">
          <img src="/assets/icons/phosphor/ambulance.svg" alt="" width="22" height="22" decoding="async">
        </span>
        <div class="service-price__body">
          <span class="service-price__name">Вызов нарколога на дом</span>
          <span class="service-price__note">осмотр, измерение показателей, рекомендации</span>
        </div>
        <span class="service-price__cost">от 5&nbsp;000&nbsp;₽</span>
        <a class="service-price__order button button--warm" href="tel:+74951204567">
          <img class="button__icon" src="/assets/icons/phone.svg" alt="" width="16" height="16" decoding="async">
          Заказать
        </a>
      </li>

      <li class="service-price__item">
        <span class="service-price__icon" aria-hidden="true">
          <img src="/assets/icons/phosphor/stethoscope.svg" alt="" width="22" height="22" decoding="async">
        </span>
        <div class="service-price__body">
          <span class="service-price__name">Выезд врача психиатра-нарколога</span>
          <span class="service-price__note">когда нужен именно врач</span>
        </div>
        <span class="service-price__cost">от 5&nbsp;000&nbsp;₽</span>
        <a class="service-price__order button button--warm" href="tel:+74951204567">
          <img class="button__icon" src="/assets/icons/phone.svg" alt="" width="16" height="16" decoding="async">
          Заказать
        </a>
      </li>

      <li class="service-price__item">
        <span class="service-price__icon" aria-hidden="true">
          <img src="/assets/icons/phosphor/first-aid.svg" alt="" width="22" height="22" decoding="async">
        </span>
        <div class="service-price__body">
          <span class="service-price__name">Капельница на дому «Стандарт»</span>
          <span class="service-price__note">после осмотра, 40–60 минут</span>
        </div>
        <span class="service-price__cost">от 5&nbsp;300&nbsp;₽</span>
        <a class="service-price__order button button--warm" href="tel:+74951204567">
          <img class="button__icon" src="/assets/icons/phone.svg" alt="" width="16" height="16" decoding="async">
          Заказать
        </a>
      </li>

      <li class="service-price__item">
        <span class="service-price__icon" aria-hidden="true">
          <img src="/assets/icons/phosphor/shield-check.svg" alt="" width="22" height="22" decoding="async">
        </span>
        <div class="service-price__body">
          <span class="service-price__name">Детоксикация на дому</span>
          <span class="service-price__note">расширенный состав капельницы</span>
        </div>
        <span class="service-price__cost">от 5&nbsp;500&nbsp;₽</span>
        <a class="service-price__order button button--warm" href="tel:+74951204567">
          <img class="button__icon" src="/assets/icons/phone.svg" alt="" width="16" height="16" decoding="async">
          Заказать
        </a>
      </li>

      <li class="service-price__item">
        <span class="service-price__icon" aria-hidden="true">
          <img src="/assets/icons/phosphor/calendar-check.svg" alt="" width="22" height="22" decoding="async">
        </span>
        <div class="service-price__body">
          <span class="service-price__name">Повторный визит</span>
          <span class="service-price__note">в течение нескольких дней, при нестабильном состоянии</span>
        </div>
        <span class="service-price__cost">от 2&nbsp;500&nbsp;₽</span>
        <a class="service-price__order button button--warm" href="tel:+74951204567">
          <img class="button__icon" src="/assets/icons/phone.svg" alt="" width="16" height="16" decoding="async">
          Заказать
        </a>
      </li>
    </ul>

    <div class="service-price__footer">
      <a class="service-price__pricelist button button--primary" href="/ceny/">
        <img class="button__icon" src="/assets/icons/list.svg" alt="" width="16" height="16" decoding="async">
        Смотреть прайс-лист
      </a>
    </div>
  </div>
</section>
